@import './normalize.css'
@import './variables.sass'
@import './interface.sass'
@import './forms.sass'
@import './polls.sass'

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  margin-top: 0

body, input
  font-family: $font

body
  font-size: 16px
  font-weight: 300
  padding: 0
  margin: 0
  background-color: $color-dark
  color: $color-white


header.page-header
  max-width: $max-width
  height: 60px
  margin: 0 auto
  padding: 10px 20px
  display: flex
  justify-content: space-between
  align-items: center
  position: absolute
  top: 0
  left: 0
  right: 0
  background-color: $color-dark
  color: $color-white


  span
    font-weight: 100
    font-size: 2.5em

  .navbar
    list-style-type: none
    display: flex
    justify-content: flex-end
    align-items: center
    li
      font-weight: 400
      padding: 0 20px
      display: inline-flex
      align-items: center
      height: 60px

.app
  min-height: 100vh
  max-width: $max-width
  margin: 60px auto 0
  padding: 50px 30px
  background-color: $color-dark

a
  text-decoration: none
  color: $color-white
  &:hover
    color: $color-light

hr
  border: 0
  border-bottom: 1px solid $color-light
  margin: 50px 0