.new-poll
  max-width: 600px
  background-color: $color-dark
  .input-answer
    margin-top: 10px

  .input-question
    font-size: 1.5em

.current-answers
  list-style-type: none
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding: 0
  margin: -10px 0 0 0
  li
    font-weight: 300
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-end
    height: 40px
    margin-bottom: 5px
  .answers-title
    font-weight: 400
    font-size: 1.1em

.poll-main
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin-bottom: 50px

.poll-chart
  margin-top: -70px

.poll-answers
  ul
    list-style-type: none
    margin: 0
    padding: 0
    width: 400px

.answer-option
  display: flex
  align-items: center
  justify-content: space-between
  height: 50px
  
  padding: 0 5px
  &:hover
    background-color: $color-medium
  input[type=radio]
    display: none

.answer-active
    background-color: $color-medium  

.answer-action
  display: flex
  justify-content: space-between
  align-items: flex-end
  border-top: 1px solid $color-medium

.rd3-piechart-arc > g > line
  display: none
.rd3-piechart-label
  font-weight: 400
